<ion-view title="Challenge" hide-nav-bar="true" ng-controller="ChaCtrl">
  <ion-content  scroll="true" overflow-scroll="false" style="color: #FFFFFF;" >
    <div class="list" style="margin-top:10%">
      <div class="item item-divider" ng-click="all()" ng-class="class0" style="color: #FFFFFF;">
        Select All
      </div>
      <a class="item" ng-click="expand1()" ng-class="class1">
        Challenge 1

                <div class="card" ng-show="c1" >

          <div class="item item-text-wrap">
             This description for challene 3 goes here. The description for challenge1 goes here.
            The description for chellenge 1 goes here
            <div class="row col">
              <button ng-click="cha1()" class="button button-royal">Select</button>


            </div></div></div>
      </a>
      <a class="item" ng-click="expand2()" ng-class="class2">
        Challenge 2


                <div class="card" ng-show="c2">

          <div class="item item-text-wrap">
             This description for challene 3 goes here. The description for challenge1 goes here.
            The description for chellenge 1 goes here
            <div class="row col">
              <button ng-click="cha2()" class="button button-royal">Select</button>


            </div></div></div>
      </a>
      <a class="item" ng-click="expand3()" ng-class="class3">
        Challenge 3
        <div class="card" ng-show="c3">

          <div class="item item-text-wrap">
             This description for challene 3 goes here. The description for challenge1 goes here.
            The description for chellenge 1 goes here
            <div class="row col">
              <button ng-click="cha3()" class="button button-royal">Select</button>


            </div>
          </div>

          </div>



      </a>
      <a class="item" ng-click="expand4()" ng-class="class4">
        Challenge 4



                <div class="card" ng-show="c4" >

          <div class="item item-text-wrap">
             This description for challene 3 goes here. The description for challenge1 goes here.
            The description for chellenge 1 goes here
            <div class="row col">
              <button ng-click="cha4()" class="button button-royal">Select</button>


            </div></div></div>
      </a>
      <a class="item"  ng-click="expand5()" ng-class="class5">
        Challenge 5



                <div class="card" ng-show="c5">

          <div class="item item-text-wrap">
             This description for challene 3 goes here. The description for challenge1 goes here.
            The description for chellenge 1 goes here
            <div class="row col">
              <button ng-click="cha5()" class="button button-royal">Select</button>


            </div></div></div>
      </a>



</div>
  </ion-content>
</ion-view>
