<ion-view title="{{cuser.username}}" ng-controller="TdetailCtrl" hide-nav-bar="true">

  <div class="bar bar-header">
    <button class="button ion-arrow-left-a button-positive" style="width:auto" ng-click="back()"></button>
  <h1 class="title">{{cuser.username}}</h1>
</div>





  {{users}}



    <ion-content padding="true" scroll="false">
         <form class="list ">
            <div class="row">

              <div class="col"><img src={{cuser.image}} width="100px" height="100px" style="display: block;margin-top:20%; margin-left: auto; margin-right: auto;"></div>

            </div>
        </form>


      <ion-list>
        <div class="row">
        <ion-radio style="width: 50%; border-left: none;" ng-model="choice" ng-value="false">About</ion-radio>
        <ion-radio style="width: 50%; border-right: none;" ng-model="choice" ng-value="true">Team</ion-radio>
          </div>
      </ion-list>
      <div class="list" ng-show="choice">

        <a class="item item-avatar" ng-repeat="user in team" href="#/tab/home/profile/{{user.userid}}">

          <img src={{user.image}}>
          <h2>{{user.username}}</h2>
          <p>{{user.about}}</p>
        </a>

      </div>


      <div class="row"  ng-show="!choice">
        <div class="col">

             <div class="list">



    <p style="padding:2%;    font-size: 16px;
    color: rgb(68, 68, 68);    border: solid;
    margin-bottom: 0;
    border-width: 1px;
    border-color: #98c7c5;">{{cuser.about}}</p>



    <label class="item item-input">
    <span class="input-label">{{cuser.email}}</span>
  </label>

     <label class="item item-input">
    <span class="input-label">{{cuser.university}}</span>

  </label>
     <label class="item item-input">
    <span class="input-label">{{cuser.degree}}</span>

  </label>
     <label class="item item-input">
    <span class="input-label">{{cuser.city}}</span>

  </label>
</div>
        </div>








      </div>



    </ion-content>
</ion-view>
