<ion-view title="ViewIdea" hide-nav-bar="true"  ng-controller="IdetailCtrl" >





               <div class="bar bar-header item-input-inset" id="shrint1" ng-hide="check" style="background-color: #39b54a; ">
    <button class="button ion-arrow-left-a button-positive" style="width:auto" ng-click="back()"></button>
    <a class="button icon ion-ios-search icon-right" href="#/tab/ideasearch" style="width: 85%"></a>

  </div>




    <ion-content id="scroll" padding="false" header-shrink1 scroll-event-interval="1" class="has-footer" style="bottom: 0; top:0" >










      <div class="row col" ng-hide="check" style="margin-top: 50px">
          <div class="list" ng-click="expand()">
            <div class="col">
              <div>
                <img src="{{post.image}}" width="auto" height="200" style="display: block; margin-left: auto; margin-right: auto;">
              </div>
              <div class="row" style="margin: 0px;">
                <div class="col" style="margin: 0px;">
                  <h5 style="margin: 0px">{{post.title}}</h5>
                  <p style="font-size: small; margin: 3px">By <a href="#/tab/ideas/profile/{{post.author}}">{{sname(post.author)}}</a></p>
                </div>

              </div>
            </div>


              <span class="input-label" style="margin-left: 5%; margin-right: 5%">Summary</span>
              <p style="margin-left: 5%; margin-right: 5%">{{post.summary}}</p>


            <span class="input-label" style="margin-left: 5%; margin-right: 5%">Description</span>



            <p style="margin-left:5%; margin-right:5%">{{post.description}}</p>

            <div class="row" ng-hide="true ">
              <div class="col">
                <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                  <!--<iframe src="https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="true" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>-->
                </div>
              </div>
            </div>

            <div ng-hide = "!post.fileurl" class="row" style="height:120px;margin-left: auto; margin-right: auto; text-align: center">

              <div class = "col" ><a style="text-align: center;" href="{{post.fileurl}}"><img style="height:80px" ng-src="img/filetypeicon/{{icon}}"><p>{{post.filename}}</p></a>
              </div>

            </div>


          </div>


                 <div class="button-bar">
              <a class="button button-dark button-outline button-small icon-right"
                 ng-class="isliked(post)" ng-click="like(post)">{{post.likes.length}}
              </a>
              <a class="button button-dark button-outline button-small icon-right"
                 ng-class="isfavoured(post)"
                 ng-click="favour(post)">{{post.favours.length}}
              </a>
              <a class="button button-dark button-outline button-small icon-right ion-ios-chatboxes"
                 ng-click="bottom()">{{post.comments.length}}</a>
            </div>



          <!--<div class="button-bar">-->
              <!--<a class="button button-dark button-outline button-small icon-right"-->
                 <!--ng-class="isliked(post)" ng-click="like(post)">{{post.likes.length}}-->
              <!--</a>-->
              <!--<a class="button button-dark button-outline button-small icon-right"-->
                 <!--ng-class="isfavoured(post)"-->
                 <!--ng-click="favour(post)">{{post.favours.length}}-->
              <!--</a>-->
              <!--<a class="button button-dark button-outline button-small icon-right ion-ios-chatboxes"-->
                 <!--ng-click="bottom()">{{post.comments.length}}</a>-->
            <!--</div>-->


            </div>



      <ion-item  ng-repeat="comment in post.comments" class="item item-avatar">
        <img src="{{image(comment.userid)}}">
        <div class="row">
          <div class="col">
            <h2><a href="#/tab/ideas/profile/{{comment.userid}}">{{sname(comment.userid)}}</a></h2>
          </div>
          <div class="col"><a class="button button-small button-black" ng-click="replyid(comment)">
            Reply
          </a>
          </div>
        </div>
        <p>{{comment.text}}</p>
        <p>{{comment.date}}</p>
        <ion-list>
          <ion-item ng-repeat="reply in comment.replys" class="item item-avatar">

            <img src="{{image(reply.userid)}}" style="width: 50px; height: 50px">
            <h2><a href="#/tab/ideas/profile/{{reply.userid}}">{{sname(reply.userid)}}</a></h2>
            <p>{{reply.text}}</p>
            <p>{{reply.date}}</p>
          </ion-item>

    </ion-list>
  </ion-item>

      </ion-list>






                  <div style="background-color: transparent;height: 50px"></div>














  </div>




    </ion-content>




    
     <div class="bar bar-footer" style="background-color: #22abd5">








    <form class="item item-input-inset" style="width:100%" ng-submit="addComment(post.ideaNo)" ng-hide="replyexpand">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Comment" ng-model="newcomment">
      </label>
      <button class="button button-small" type="submit">
        Submit
      </button>
    </form>




               <form class="item item-input-inset" style="width:100%" ng-submit="addreply(post.ideaNo)" ng-show="replyexpand">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Reply" ng-model="newreply">
      </label>
      <button class="button button-small" type="submit">
        Submit
      </button>
    </form>

           </div>


<!-- 


         <div id="shrint2" style="position: absolute; bottom: -50px; width: 100%; background-color: #22abd5">
    

  </div>

 -->



</ion-view>
