<ion-view title="Notifications" hide-nav-bar="true">


        <div class="bar bar-header item-input-inset">

          <div id="ideas-button-bar8" class=" button-bar ">
            <button ng-click="myideas()" class=" button button-positive button-small button-block ">Notifications</button>
            <button ng-click="teamideas()" id="ideas-button40" class=" button button-positive button-small button-block button-outline ">Activity Log</button>
            <button ng-click="favourites()" id="ideas-button41" class=" button button-positive button-small button-block button-outline ">Team Activity</button>
        </div>

      </div>




      <ion-content  scroll="true" overflow-scroll="false" class="has-header">

<div class="list">

    <a class="item item-avatar" href="#">
      <img src="./img/1.jpg">
      <h2>User2 commented on Post1</h2>
      <p>Yesterday at 9.19pm</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="./img/abc.jpg">
      <h2>User3 commented on Post2</h2>
      <p>Yesterday at 6.27om</p>
    </a>
      <a class="item item-avatar" href="#">
      <img src="./img/perry.png">
      <h2>User5 replied to your comment</h2>
      <p>Today at 11.0p,</p>
    </a>    <a class="item item-avatar" href="#">
      <img src="./img/pawan.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>
  </ion-content>
</ion-view>
