<ion-view title="Settings" hide-nav-bar="true" cache-view="false">
    <ion-content padding="true" scroll="false">
        <div class="">
            <img src={{user.image}} width="100" height="100" style="margin-top:20%; display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 50px;"></div>
        <div style="margin-right:-20px;">
            <a href="#/tab/settings/profile" style="left:-10px;" class=" button button-positive button-small button-block ">Profile</a>
        </div>
        <div style="margin-right:-20px;">
            <a  href="#/tab/help" style="left:-10px;" class=" button button-positive button-small button-block ">Help</a>
        </div>
        <div style="margin-right:-20px;">
            <a href="#/tab/tutor" style="left:-10px;" class=" button button-positive button-small button-block ">Tutorial Videos</a>
        </div>
        <div style="margin-right:-20px;">
            <a href="#/tab/term" style="left:-10px;" class=" button button-positive button-small button-block ">Terms &amp; Policies</a>
        </div>
        <div class="spacer" style="width: 283px; height: 27px;"></div>
        <div style="margin-right:-20px;">
            <a ui-sref="login" style="left:-10px;" class=" button button-dark button-small button-block ">Logout</a>
        </div>
    </ion-content>



</ion-view>
